<img src="{{{tvshow.data.image.medium}}}" alt="{{{tvshow.data.name}}}">
<p>Name: {{{tvshow.data.name}}}</p>
{{{tvshow.data.summary}}}
<p>Language : {{{tvshow.data.language}}}</p>
<p>Genres :{{{tvshow.data.genres}}}</p>
<p>Runtime :{{{tvshow.data.runtime}}}</p>
<p>Rating : {{{tvshow.data.rating.average}}}</p>
<p>Network : {{{tvshow.data.network.name}}}</p>
<p>Premiered :{{{tvshow.data.premiered}}}</p>
<p>Type :{{{tvshow.data.type}}}</p>
<p>Schedule :{{{tvshow.data.schedule.time}}} {{{tvshow.data.schedule.days}}}</p>


